.Entete {
    height: 10vh;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    box-shadow: 0 0 40px rgb(86 86 86 / 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(5px);

    .logo {
        padding: 1rem;
        font-size: 1.5rem;
        font-family: 'Lato';
        font-weight: 300;
    }

    .connexion {
        margin-right: 0.5rem;
        display: flex;
        justify-content: space-around;
        width: 8rem;

        button {
            height: 2rem;
            width: 5rem;
            font-size: 0.6rem;
        }

        .avatar {
            width: 2rem;
            height: 2rem;
        }
    }
}